{% extends "base.html" %}

{% block titulo %}Acerca de{% endblock %}

{% block contenido %}

<section class="pt-5">

    <h2>En esta sección hablare un poco de mi</h2>
    <p>Hola, soy Melannie.</p>
    <p>Me gusta todo lo que tenga que ver con crear, aprender y el arte. Paso la mayor parte de mi tiempo libre
        dibujando, pintando, escribiendo, haciendo manualidades, escuchando música o jugando videojuegos.</p>
    <p>Tambien disfruto mucho de cosas como la fotografía, la animación, patinar, hacer figuritas de arcilla y
        tratar de aprender a tocar instrumentos como la Kalimba.</p>
    <p>Escribir para mi es una forma de expresarme y liberarme un poco, me gusta pasar tiempo conmigo misma.</p>
    <p><strong>En el futuro me gustaría...</strong></p>
    <p>Me gustaría aprender algo sobre enfermería y psicología. Me llama la atención sla forma en que las personas
        sienten, piensan y cambian con el tiempo. Me gustaría poder comprender mejor esas emociones, ayudar y acompañar
        de alguna forma.</p>
    <p>Tambien quiero aprender repostería, confeccionar peluches, tejer a crochet y encontrar nuevas formas de crear
        cosas. Me gusta la idea de crear cosas desde cero.</p>
    <p><strong>Nombre: </strong>Pascual Torres Melannie Abril</p>

</section>

{% endblock %}