{% extends "base.html" %}

{% block contenido %}

<section class="row pt-5">
    <div class="col-12">
        <h2>Animales Exóticos</h2>
        <p>Los animales exótico son especies que no son originarios del lugar donde se encuentran o que no son comunes
            como mascotas o fauna local.</p>
        <p>Suelen tener características físicas, comportamientos o hábitats poco comunes, y en muchos casos requieren
            cuidados especiales o están protegidos por leyes ambientales.</p>
        <h2>características: </h2>
        <ol>
            <li>Su origen es inusual, provienen de regiones tropicales, desérticas, selváticas o marinas poco
                accesibles.</li>
            <li>Tienen colores intensos, formas poco comunes o adaptaciones extrañas.</li>
            <li>Requieren de cuidados especiales, dietas específicas, temperaturas controladas o ambientes similares a
                su hábitad natural.</li>
            <li>Varios de ellos están en peligro de extinción o regulados por la CITES (Convención sobre el Comercio
                Internacional de Especies Amenazadas) asi que tienen protección legal</li>
        </ol>
    </div>

    <div class="col-12 pt-5">
        <h3 class>Acuaticos</h3>
    </div>

    <div class="col-12 col-md-6">
        <h5>Axolote</h5>
        <p>El lago de Xochimilco, en la Ciudad de México, es el único lugar donde habita el axolote, es una
            salamandra que puede vivir siempre bajo el agua y mantener su aspecto juvenil.</p>
        <p>Sin embargo, esta en grave peligro de extinción por la contaminación y las especies invasoras,
            aunque se están haciendo esfuerzos para salvarlo, como el trabajo de un grupo de monjas que los
            cría en cautiverio para aumentar su población.</p>
    </div>

    <div class="col-12 col-md-6">
        <img src="..." class="img-fluid" alt="Axolote">
    </div>

    <div class="col-12 col-md-6">
        <h5>Camarón mantis</h5>
        <p>El camarón mantis es un crustáceo acuático exótico conocido por su increíble fuerza, capaz de
            lanzar golpes con sus pinzas a una velocidad de hasta 80 km/h, suficientes para romper el
            caparazón o la cabeza de sus oponentes.</p>
        <p>A demás de su potencia, destaca por su belleza: Su cuerpo es similar a una cigala, con colores
            verdes y rosados brillantes que lo hacen ver muy llamativo.</p>
        <p>A pesar de ser atractivo, puede representar un riesgo para los ecosistemas si se introduce fuera de su
            hábitad natural, por lo que es importante controlar su reproducción y evitar que se convierta en una especie
            invasora</p>
    </div>

    <div class="col-12 col-md-6">
        <img src="..." class="img-fluid" alt="Camarón mantis">
    </div>

    <div class="col-12 pt-5">
        <h3>Terrestres</h3>
    </div>

    <div class="col-12 col-md-6">
        <h5>Pangolí</h5>
        <p>El lago de Xochimilco, en la Ciudad de México, es el único lugar donde habita el axolote, es una
            salamandra que puede vivir siempre bajo el agua y mantener su aspecto juvenil.</p>
        <p>Sin embargo, esta en grave peligro de extinción por la contaminación y las especies invasoras,
            aunque se están haciendo esfuerzos para salvarlo, como el trabajo de un grupo de monjas que los
            cría en cautiverio para aumentar su población.</p>
    </div>

    <div class="col-12 col-md-6">
        <img src="..." class="img-fluid" alt="Pangolí">
    </div>

    <div class="col-12 col-md-6">
        <h5>Oso hormiguero gigante</h5>
        <p>El camarón mantis es un crustáceo acuático exótico conocido por su increíble fuerza, capaz de
            lanzar golpes con sus pinzas a una velocidad de hasta 80 km/h, suficientes para romper el
            caparazón o la cabeza de sus oponentes.</p>
        <p>A demás de su potencia, destaca por su belleza: Su cuerpo es similar a una cigala, con colores
            verdes y rosados brillantes que lo hacen ver muy llamativo.</p>
        <p>A pesar de ser atractivo, puede representar un riesgo para los ecosistemas si se introduce fuera de su
            hábitad natural, por lo que es importante controlar su reproducción y evitar que se convierta en una especie
            invasora</p>
    </div>

    <div class="col-12 col-md-6">
        <img src="..." class="img-fluid" alt="Oso hormiguero gigante">
    </div>

    <div class="col-12 pt-5">
        <h3>Aéreos</h3>
    </div>

    <div class="col-12 col-md-6">
        <h5>Colibrí pico Espada</h5>
        <p>El lago de Xochimilco, en la Ciudad de México, es el único lugar donde habita el axolote, es una
            salamandra que puede vivir siempre bajo el agua y mantener su aspecto juvenil.</p>
        <p>Sin embargo, esta en grave peligro de extinción por la contaminación y las especies invasoras,
            aunque se están haciendo esfuerzos para salvarlo, como el trabajo de un grupo de monjas que los
            cría en cautiverio para aumentar su población.</p>
    </div>

    <div class="col-12 col-md-6">
        <img src="..." class="img-fluid" alt="colibrí pico de espada">
    </div>

    <div class="col-12 col-md-6">
        <h5>Guacamayo de Spix</h5>
        <p>El camarón mantis es un crustáceo acuático exótico conocido por su increíble fuerza, capaz de
            lanzar golpes con sus pinzas a una velocidad de hasta 80 km/h, suficientes para romper el
            caparazón o la cabeza de sus oponentes.</p>
        <p>A demás de su potencia, destaca por su belleza: Su cuerpo es similar a una cigala, con colores
            verdes y rosados brillantes que lo hacen ver muy llamativo.</p>
        <p>A pesar de ser atractivo, puede representar un riesgo para los ecosistemas si se introduce fuera de su
            hábitad natural, por lo que es importante controlar su reproducción y evitar que se convierta en una especie
            invasora</p>
    </div>

    <div class="col-12 col-md-6">
        <img src="..." class="img-fluid" alt="Guacamayo de spix">
    </div>

</section>

{% endblock %}