{% extends "base.html" %}

{% block titulo %}Iniciar sesion{% endblock %}

{% block contenido %}

<section class="container-fluid">
    <h1 class="text-center text-primary">Iniciar sesion</h1>
    <section class="row justify-content-center">
        <div class="col-12 col-md-6">
            <form>
                <section class="row">
                    <div class=" col-12 mb-3">
                        <label for="cuenta" class="form-label">Correo o numero de telefono </label>
                        <input type="text" required minlenght='3' class="form-control" id="nombre" placeholder="Correo o numero de telefono">
                    </div>
                </section>

                <section class="row">
                    <div class="col-12 mb-3">
                        <label for="contra" class="form-label">Contraseña </label>
                        <input type="password" class="form-control" id="contra" placeholder="Ingrese su contaseña">
                    </div>
                </section>

                <section class="row text-center mb-3">
                    <div class="col-12">
                        <button type="submit" class="btn btn-success">Iniciar sesion</button>
                    </div>
                    <div class="col-12 mt-2">
                        <a href="#">¿Olvidaste tu contraseña?</a>
                    </div>
                </section>

            </form>
        </div>
    </section>
</section>

{% endblock %}