{% extends "base.html" %}

{% block contenido %}

<section class="row pt-5">
    <div class="col-12">
        <h2>Vehiculos Antiguos</h2>
        <h3>Historia</h3>
        <p>Antes del motor de combustión interna hubo intentos con vehículos de vapor. Uno de los más citados es el de
            Nicolas-Joseph Cugnot (Francia) en 1769, que construyó un vehículo autopropulsado a vapor para uso militar.</p>

        <p>A lo largo del siglo XIX hubo diversos inventores trabajando con autos impulsados por vapor, electricidad o
            gasolina.</p>

        <p>Un momento clave fue cuando Karl Benz patentó el Benz Patent-Motorwagen en 1886, considerado por muchos como
            el primer automóvil práctico con motor de combustión interna.</p>

        <p>Al inicio los autos eran producidos de forma artesanal, uno por uno. Ya hacia finales del siglo XIX /
            principios del XX comenzaron a establecerse fábricas, producción en series, mejoras en la tecnología de
            motores, transmisión, neumáticos, etc.</p>

        <p>Empresas como Benz (Alemania), Daimler, Panhard, Peugeot (Francia), Oldsmobile, Ford (EEUU) fueron de las
            primeras marcas en desarrollarse y en introducir innovaciones claves para el automóvil moderno. </p>
    </div>

    <div class="col-12 pt-5">
        <h3>Benz & Cie Benz Velo (1894-1902)</h3>
    </div>

    <div class="col-12 col-md-6">
        <p>El lago de Xochimilco, en la Ciudad de México, es el único lugar donde habita el axolote, es una
            salamandra que puede vivir siempre bajo el agua y mantener su aspecto juvenil.</p>
        <p>Sin embargo, esta en grave peligro de extinción por la contaminación y las especies invasoras,
            aunque se están haciendo esfuerzos para salvarlo, como el trabajo de un grupo de monjas que los
            cría en cautiverio para aumentar su población.</p>
    </div>

    <div class="col-12 col-md-6">
        <img src="..." class="img-fluid" alt="Axolote">
    </div>

    <div class="col-12 pt-5">
        <h3>Benz Benz Patent-Motorwagen (1886-1893)</h3>
    </div>

    <div class="col-12 col-md-6">
        <p>El camarón mantis es un crustáceo acuático exótico conocido por su increíble fuerza, capaz de
            lanzar golpes con sus pinzas a una velocidad de hasta 80 km/h, suficientes para romper el
            caparazón o la cabeza de sus oponentes.</p>
        <p>A demás de su potencia, destaca por su belleza: Su cuerpo es similar a una cigala, con colores
            verdes y rosados brillantes que lo hacen ver muy llamativo.</p>
        <p>A pesar de ser atractivo, puede representar un riesgo para los ecosistemas si se introduce fuera de su
            hábitad natural, por lo que es importante controlar su reproducción y evitar que se convierta en una especie
            invasora</p>
    </div>

    <div class="col-12 col-md-6">
        <img src="..." class="img-fluid" alt="Oso hormiguero gigante">
    </div>

    <div class="col-12 pt-5">
        <h3>Oldsmobile Curved Dash Oldsmobile, Modelo R (1901-1907)</h3>
    </div>

    <div class="col-12 col-md-6">
        <p>El lago de Xochimilco, en la Ciudad de México, es el único lugar donde habita el axolote, es una
            salamandra que puede vivir siempre bajo el agua y mantener su aspecto juvenil.</p>
        <p>Sin embargo, esta en grave peligro de extinción por la contaminación y las especies invasoras,
            aunque se están haciendo esfuerzos para salvarlo, como el trabajo de un grupo de monjas que los
            cría en cautiverio para aumentar su población.</p>
    </div>

    <div class="col-12 col-md-6">
        <img src="..." class="img-fluid" alt="colibrí pico de espada">
    </div>

    <div class="col-12 pt-5">
        <h3>Rolls-Royce Silver Ghost (1907-1926) </h3>
    </div>

    <div class="col-12 col-md-6">
        <p>El lago de Xochimilco, en la Ciudad de México, es el único lugar donde habita el axolote, es una
            salamandra que puede vivir siempre bajo el agua y mantener su aspecto juvenil.</p>
        <p>Sin embargo, esta en grave peligro de extinción por la contaminación y las especies invasoras,
            aunque se están haciendo esfuerzos para salvarlo, como el trabajo de un grupo de monjas que los
            cría en cautiverio para aumentar su población.</p>
    </div>

    <div class="col-12 col-md-6">
        <img src="..." class="img-fluid" alt="colibrí pico de espada">
    </div>

    <div class="col-12 pt-5">
        <h3>Ford Ford Model T (1908-1927)</h3>
    </div>

    <div class="col-12 col-md-6">
        <p>El lago de Xochimilco, en la Ciudad de México, es el único lugar donde habita el axolote, es una
            salamandra que puede vivir siempre bajo el agua y mantener su aspecto juvenil.</p>
        <p>Sin embargo, esta en grave peligro de extinción por la contaminación y las especies invasoras,
            aunque se están haciendo esfuerzos para salvarlo, como el trabajo de un grupo de monjas que los
            cría en cautiverio para aumentar su población.</p>
    </div>

    <div class="col-12 col-md-6">
        <img src="..." class="img-fluid" alt="colibrí pico de espada">
    </div>

</section>

{% endblock %}