{% extends "base.html" %}

{% block contenido %}

<section class="pt-5">
    <div class="row">
        <div class="col-12">
            <h2>Vehiculos Antiguos</h2>
            <h3>Historia</h3>
            <p>Antes del motor de combustión interna hubo intentos con vehículos de vapor. Uno de los más citados es el
                de
                Nicolas-Joseph Cugnot (Francia) en 1769, que construyo un vehículo autopropulsado a vapor para uso
                militar.
            </p>

            <p>A lo largo del siglo XIX hubo diversos inventores trabajando con autos impulsados por vapor, electricidad
                o
                gasolina.</p>

            <p>Un momento clave fue cuando Karl Benz creó y registró el Benz Patent-Motorwagen en 1886, considerado como
                el primer automóvil con motor de gasolina.</p>

            <p>Al inicio los autos eran producidos de forma artesanal. Ya hacia finales del siglo XIX y principios del
                XX
                comenzaron a establecerse fábricas, producción en series, mejoras en la tecnología de
                motores, transmisión, neumáticos, etc.</p>

            <p>Empresas como Benz, Daimler, Panhard, Peugeot, Oldsmobile y Ford fueron de las
                primeras marcas en desarrollarse y en introducir innovaciones para el automóvil moderno. </p>
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-12">
            <h3>Rolls-Royce Silver Ghost (1907)</h3>
        </div>

        <div class="col-12 col-md-8">
            <p><strong>Marca:</strong> Rolls-Royce</p>
            <p>Fue conocido por su elegancia, fiabilidad y por la suavidad de su conducción. Su nombre significa
                “fantasma plateado” y se debía a lo silencioso que era su motor.</p>
            <p>El primer
                ejemplar fue puesto a prueba por la propia marca en un recorrido de más de 24,000
                kilómetros entre Londres y Glasgow, no tuvo ninguna falla.</p>
            <p>Ese hecho fue lo que le dio fama mundial y
                el título de “el mejor automóvil del mundo”.</p>
            <p>Cada unidad se construía a mano con materiales de lujo, y
                por su gran precisión mecánica se convirtió en el vehículo favorito de la aristocracia europea.</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="{{ url_for('static', filename='img/rollsroyce.png') }}" class="img-fluid"
                alt="Vehiculo plateado de apariencia elegante.">
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-12">
            <h3>Ford Model T (1908-1927)</h3>
        </div>

        <div class="col-12 col-md-8">
            <p><strong>Marca:</strong> Ford Motor Company</p>
            <p>Este coche revolucionó la industria automotriz gracias a su método de producción en serie, creado por
                Henry Ford.</p>
            <p>La línea de montaje permitió fabricar miles de autos en menos tiempo y a un bajo precio, provocando que
                el coche dejara de ser de lujo y se convirtiera en un medio de trasnporte mas accesible para todos.</p>
            <p>Tenía un motor de cuatro cilindros, alcanzaba una velocidad de
                alrededor de 70 kilómetros por hora y conducir en lugares dificles gracias a que era resistente.</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="{{ url_for('static', filename='img/fordmodelt.png') }}" class="img-fluid"
                alt="Vehiculo antiguo de color negro estacionado frente una casa.">
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-12">
            <h3>Volkswagen Beetle (1938-2003)</h3>
        </div>

        <div class="col-12 col-md-8">
            <p><strong>Marca:</strong> Volkswagen</p>
            <p>Este coche fue diseñada por Ferdinand Porsche. Su creación fue impulsada en Alemania con la idea de
                fabricar un “auto
                del pueblo” (Volkswagen).</p>
            <p>A pesar de que su producción se detuvo por la Segunda Guerra Mundial, se convirtió en uno de los autos
                más populares del planeta después del conflicto.</p>
            <p>Su diseño era simple, su motor trasero enfriado por aire y su durabilidad lo hicieron un símbolo de
                confianza y
                simpatía.</p>
            <p>En México se convirtió en un verdadero ícono, en especial porque su producción fue hecha en la planta de
                Puebla durante décadas. El ultimo producido fue en 2003</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="{{ url_for('static', filename='img/volksescarabajo.png') }}" class="img-fluid"
                alt="vehiculo de color oscuro, su parte frontal es redonda y curveada.">
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-12">
            <h3>Mercedes-Benz 300 SL “Gullwing” (1954-1963)</h3>
        </div>

        <div class="col-12 col-md-8">
            <p><strong>Marca:</strong> Mercedes-Benz</p>
            <p>Fue un automóvil deportivo que destacó por su tecnología y su diseño adelantado a su tiempo.</p>
            <p>“Gullwing” proviene de sus puertas que se abrían hacia arriba como las alas de una gaviota, una solución
                necesaria debido a su chasis tubular que no permitía colocar puertas tradicionales.</p>
            <p>Tenía un motor de seis cilindros de tres litros, era capaz de alcanzar más de 250 kilómetros por hora.
                Era ligero, rápido y visualmente elegante, y su carrocería aerodinámica marcó un
                antes y un después en el diseño automotriz.</p>
            <p>Con el tiempo se convirtió en un símbolo de lujo, innovación y velocidad.</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="{{ url_for('static', filename='img/mercedesralph.png') }}" class="img-fluid"
                alt="vehiculo plateado elegante, sus puertas se habren hacia arriba.">
        </div>
    </div>

    <div class="row pt-4">
        <div class="col-12">
            <h3>Bugatti Type 57 SC Atlantic (1934-1939)</h3>
        </div>

        <div class="col-12 col-md-8">
            <p><strong>Marca:</strong> Bugatti</p>
            <p>Es considerado uno de los autos más bellos y exclusivos de todos los tiempos.</p>
            <p>Solo se fabricaron cuatro unidades, y una de ellas, “La Voiture Noire”, perteneció a Jean Bugatti, hijo del fundador
                de la marca, y su paradero sigue siendo un misterio hasta hoy.</p>
            <p>Tenía un motor de ocho cilindros con compresor que le permitía alcanzar los 200 kilómetros por hora, una
                cifra sorprendente en esa época.</p>
            <p>Su carrocería de aluminio remachado presentaba una línea metálica que
                recorría el coche de adelante hacia atrás, dándole un aspecto único</p>
        </div>

        <div class="col-12 col-md-4">
            <img src="{{ url_for('static', filename='img/bugatti.png') }}" class="img-fluid"
                alt="Vehiculo de color azul, su parte frontal es muy alargada.">
        </div>
    </div>
</section>

{% endblock %}